body {
    background: linear-gradient(13.89deg, #030640 10.47%, #690e87 98.32%, #383b81);
}

.dropdown-container {
    position: relative;
    top: 12vh;
    display: grid;
    place-items: center;

}

.btn {
    width: 100%;
    margin: 2px;
}